.page {
    background-color: lightgray; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center;  
}


.counter {
    color: rgb(243, 243, 59); 
    font-size: 30px; 
    font-family: Arial, Helvetica, sans-serif
    
}

.input {
    height: 20px; 
}
.btn {
    width: 180px; 
    background-color: white; 
    margin-top: 20px; 
}

.paragraph {
    color: rgb(156, 13, 21); 
    border: 1px solid rgb(156, 13, 21);
    padding: 8px; 
}

.try {
    font-style: italic; 
    text-transform: capitalize; 
   
}